<!DOCTYPE HTML>
<html>

<head>
	<title>SubDub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="static/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<a href="index.html" class="logo"><strong>Sub</strong> <span>dub</span></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="landing.html">Landing</a></li>
				<li><a href="generic.html">Generic</a></li>
				<li><a href="elements.html">Elements</a></li>
			</ul>
			<ul class="actions stacked">
				<li><a href="#" class="button primary fit">Get Started</a></li>
				<li><a href="#" class="button fit">Log In</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<section id="banner" class="major">
			<div class="inner">
				<header class="major">
					<h1>Hi, Welcome to Sub Dub🎤</h1>
				</header>
				<div class="content">
					<p>Are you finding difficulty in finding dubbing artist for your upcomming movie!!! No Worries we
						covered it for you!!!</p>
					<ul class="actions">
						<li><a href="#one" class="button next scrolly">Get Started</a></li>
					</ul>
				</div>
			</div>
		</section>

		<!-- Main -->
		<div id="main">

			<!-- One -->
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3>Upload Your Cassete📼</h3>
						<p>Elli Upload madi boss</p>
						<form action="">
							<input type="file" name="file" />
							<input type="submit" />
						</form>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="images/pic02.jpg" alt="" />
					</span>
					<header class="major">
						<h3>Tempus</h3>
						<div id="controls">
							<button id="recordButton">Record</button>
							<button id="pauseButton" disabled>Pause</button>
							<button id="stopButton" disabled>Stop</button>
						</div>
						<p><strong>Recordings:</strong></p>
						<ol id="recordingsList"></ol>
					</header>
				</article>
			</section>
		</div>

	</div>

	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/jquery.scrollex.min.js"></script>
	<script src="static/js/browser.min.js"></script>
	<script src="static/js/breakpoints.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>